.content {
  width: 100%;
  background-color: #f6f6f6;
  flex: 1;
  padding: 2rem 3rem;
  @media (max-width: $break-tablet) {
    padding: 2rem 0;
    background-color: #fff;

    > div:nth-child(1) {
      padding: 0 2rem 1rem 2rem;
    }
    > div:nth-child(2) {
      background-color: #f6f6f6;
      height: 100%;
      padding-bottom: 3rem;
    }
  }
}

.container2 {
  margin-top: 2rem;
  overflow-y: auto;

  @media (max-width: $break-tablet) {
    margin: 0;
  }
}
.container2-content {
  @media (max-width: $break-tablet) {
    padding: 2rem;

    > hr {
      display: none;
    }
  }
}

.container1 {
  margin-top: 1rem;
  background-color: #fff;
  padding: 2rem;

  & .wrapper-title {
    margin-bottom: 1.5rem;
  }

  @media (max-width: $break-tablet) {
    margin-top: -1rem;
    padding: 0;
    & .wrapper-title {
      background-color: #fff;
      padding: 0 2rem 1rem 2rem;
      margin-bottom: 0;
      width: 100%;
    }
  }
}
 
.container1-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  width: 100%;

  @media (max-width: $break-tablet) {
    padding: 0;
  }
}

.content-mobile-padding{
  @media (max-width:$break-tablet){
    padding: 2rem;
  }
}