.account-state {
  margin-top: 2.5rem;
  overflow-y: auto;

  @media (max-width: $break-tablet) {
    margin: 0 2rem;
    padding: 15px;
  }
}

.input-search-period {
  width: 50%;
  background: #fff;
  display: flex;
  margin-bottom: 2rem;
  padding: 5px 10px 5px 5px;
  border: solid thin $gray-4;
  border-radius: 5px;

  @media (max-width: $break-tablet) {
    width: 100%;
  }

  & > input {
    background-color: transparent;
    border: none;
    flex: 1;
    margin-right: 10px;
    padding-left: 10px;

    &::placeholder {
      font-size: 13px;
      color: $gray-2;
    }
  }
}

.arrow-icon-button {
  border: none;
  background-color: transparent;

  & > img {
    transition: transform 0.4s;
  }
  &:focus {
    outline: none;
  }
}
.rotate-icon-180 {
  transform: rotate(180deg);
  transition: transform 0.4s;
}
