.ma-news-container {
  @media (max-width: $break-tablet) {
    padding: 2rem 0 0 0;
  }
}
.ma-news-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
  justify-self: center;
  align-content: center;

  div:nth-child(1) {
    grid-row: 1/3;
  }

  @media (max-width: $break-desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    div:nth-child(1) {
      grid-row: 1/1;
    }
  }
  @media (max-width: $break-laptop) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $break-tablet) {
    grid-template-columns: 1fr;
    gap: 1px;
    padding: 15px;
  }
}

.new-card {
  background-color: #000;
  display: flex;
  flex-direction: column;
  position: relative;

  & span {
    font-size: 14px;
    padding: 0 !important;
  }

  & img:nth-child(1) {
    width: 100%;
  }

  & :nth-child(1) {
    flex: 1;
    object-fit: cover;
  }
  & :nth-child(2) {
    padding: 1rem;

    > p {
      padding: 0;
    }
  }
  & img:nth-child(3) {
    @media(max-width:$break-desktop){
      display: none;
    }
  }
}

.button-date-container {
  display: flex;
  align-items: center;
  margin: 2rem 0 0.5rem 0;
}
