.ma-see-news {
  display: grid;
  grid-template-columns: auto 300px;
  gap: 1.5rem;

  @media (max-width: $break-desktop) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $break-tablet) {
    padding: 0.75rem 1rem;
    margin-top: 1.5rem;
    & #fake-title {
      position: absolute;
      top: -3.5rem;
      left: 1rem;
    }
    
    & hr {
      display: none;
    }
  }
}

.ma-see-container-left {
  border: solid thin $gray-2;
}

.content-new {
  background-color: #fff;
  padding: 3rem;

  & h3 {
    color: $gray-8;
  }
  & p {
    padding: 0px;
  }

  @media (max-width: $break-tablet) {
    padding: 1rem;
  }
}

.new-image-banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.brand-logo-in-banner {
  position: absolute;
  top: 1rem;
  right: 3rem;
}

.right-cards {
  display: flex;
  flex: 1;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1550px) {
    justify-content: flex-start;
  }
}

.go-back-link{
  right: 15px;
  bottom: 15px;
}
