.my-profile-content {
  & h1 {
    background: #fff;
    margin-bottom: 0;
    padding: 2rem 2rem 0 2rem;
    @media (max-width: $break-tablet) {
      padding: 0;
    }
  }
}

.my-data {
  background-color: #fff;
  width: 100%;
  padding: 2rem;

  & h2 {
    display: none;
  }

  & input::placeholder,
  & textarea::placeholder {
    color: transparent;
  }

  @media (max-width: $break-tablet) {
    background-color: $gray-5;
    padding: 0 0 2rem 0;
    height: 100%;
    & > h1,
    & > .input-grid {
      padding: 0 2rem;
    }

    & h2 {
      display: block;
    }
  }
}

.save-button-wrapper {
  width: 100%;
  padding: 0;
  @media (max-width: $break-tablet) {
    padding: 0 2rem;
  }
  
  > button {
    margin-top: 2.5rem;
    @media (max-width: $break-tablet) {
      width: 100%;
    }
  }
}
.save-data-button {
  background-color: $blue-1;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 7px 15px;
  margin-top: 2.5rem;

  @media (max-width: $break-tablet) {
    width: 100%;
  }
}
.save-data-button:hover {
  opacity: 0.8;
}

.images-container {
  position: relative;
  width: 100%;
  height: 200px;
  padding: 1rem;
  margin: 0 0 2.5rem 0;

  .banner-image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }

  .profile-image,
  button {
    position: relative;
  }
  .profile-image {
    height: 100%;
    width: auto;
    border-radius: 50%;
  }

  & button {
    border: none;
    background-color: $gray-7;
    border-radius: 50%;
    height: 30px;
    width: 30px;
  }

  & button:focus {
    opacity: 0.75;
    outline: none;
  }

  .edit-banner {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 30;
  }

  @media (max-width: $break-tablet) {
    text-align: center;

    .edit-banner {
      bottom: 1rem;
      left: 1rem;
    }
  }
}

.profile-wrapper {
  width: auto;
  height: 100%;
  position: relative;

  .edit-profile {
    left: -15px;
  }
}

.input-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  div:last-child {
    grid-column: 1/3;
  }
  @media (max-width: $break-laptop) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $break-tablet) {
    grid-template-columns: 100%;
    div:last-child {
      grid-column: 1/2;
    }
  }

 
}

.edit-banner,
.edit-profile {
  transition: background-color 0.3s;
  &:hover {
    background-color: $blue-1;
  }
}
