.left-side {
  background-color: black;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  transition: margin-left 0.5s;
}

.account-button {
  color: #d6d6d6;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  padding-left: 2rem;
  display: flex;
  gap: 15px;
  justify-content: left;
  align-items: center;
}

.sidebar-button,
.deployable-button {
  width: 100%;
  border: solid thin black;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.sidebar-button,
.deployable-button > span {
  font: bold Helvetica;
}
.sidebar-button > :nth-child(2) {
  position: absolute;
  right: 20px;
}
.sidebar-button {
  background-color: dodgerblue;
  color: white;
}

.deployable-button {
  background-color: gray;
  color: white;
}

.deploy {
  transition: height 0.5s;
  overflow: hidden;
}
.deployed {
  height: 100px;
}
.undeployed {
  height: 0;
}

.text-gray {
  color: #747171;
}

.menu {
  width: 15rem;
}
@media (max-width: 700px) {
  .user-name,
  .user-admin {
    display: none;
  }
  .menu-btn:before,
  .menu-btn:after,
  .menu-btn div {
    display: block;
  }
  .menu {
    margin-left: -100%;
    position: absolute;
    width: 100vw;
    overflow: auto;
  }
}
.open-menu {
  margin-left: 0;
}
