.left-side {
  background-color: black;
  min-height: 100%;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  transition: margin-left 0.5s;
  z-index: 80;
}

.account-button {
  color: #d6d6d6;
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  padding: 0 1rem;
  display: flex;
  gap: 15px;
  justify-content: left;
  align-items: center;
}

.sidebar-button {
  background-color: dodgerblue;
  color: white;
  width: 100%;
  border: solid thin black;
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  position: relative;
  display: flex;
  gap: 15px;
  justify-content: left;
  align-items: center;
  font-weight: 700;

  span {
    font: bold Helvetica;
  }
  & img{
    margin-right: .5rem;
  }
  > :nth-child(2) {
    position: absolute;
    right: 20px;
  }

  @media (max-width: 700px) {
    justify-content: left;
    padding-left: 4rem;
  }
}

.deployable {
  background-color: gray;
  color: white;
}

.deploy {
  transition: height 0.5s;
  overflow: hidden;
}
.deployed {
  height: 100px;
}
.undeployed {
  height: 0;
}

// Hamburger menu open sidebar in mobile
.menu {
  width: 15rem;
}

@media (max-width: 700px) {
  .menu {
    margin-left: -100%;
    position: absolute;
    width: 100vw;
    overflow: auto;
  }
}
.open-menu {
  margin-left: 0;
}

.account-buttons {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 700px) {
    align-items: center;
  }
}
