@font-face {
  font-family: CircularStd-Black;
  src: url("../../fonts/CircularStd-Black.otf");
}
@font-face {
  font-family: CircularStd-BlackItalic;
  src: url("../../fonts/CircularStd-BlackItalic.otf");
}
@font-face {
  font-family: CircularStd-Bold;
  src: url("../../fonts/CircularStd-Bold.otf");
}
@font-face {
  font-family: CircularStd-BoldItalic;
  src: url("../../fonts/CircularStd-BoldItalic.otf");
}
@font-face {
  font-family: CircularStd-Book_1;
  src: url("../../fonts/CircularStd-Book_1.otf");
}
@font-face {
  font-family: CircularStd-BookItalic;
  src: url("../../fonts/CircularStd-BookItalic.otf");
}
@font-face {
  font-family: CircularStd-Medium;
  src: url("../../fonts/CircularStd-Medium.otf");
}
@font-face {
  font-family: CircularStd-MediumItalic;
  src: url("../../fonts/CircularStd-MediumItalic.otf");
}
@font-face {
  font-family: CircularStd-Book;
  src: url("../../fonts/CircularStd-Book.otf");
}
@font-face {
  font-family: CircularStd;
  src: url("../../fonts/CircularStd.otf");
}
