@import "../global/variables";
.footer {
  height: 75px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background: #fff;

  & a {
    font-family: "CircularStd-Book";
  }
  & p {
    margin: 0;
    padding: 0 1rem;
  }
}

@media (max-width: $break-tablet) {
  .footer {
    justify-content: center;
  }
}
