@import "../global/variables";
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100vh;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.container-2 {
  flex: 1;
  display: flex;
  justify-content: stretch;
}

.right-side {
  display: flex;
  min-height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 700px) {
  .hidde-right-side {
    display: none;
  }
}

.common-input {
  color: $gray-9;
  border-radius: 5px;
  border: solid thin $gray-4;
  background-color: #fff;
  padding: 5px 13px;

  &::placeholder {
    color: transparent;
  }

  @media (max-width: $break-tablet) {
    //   color: $gray-6;
    color: transparent;
    font-size: 13px;
  }
}

.blue-button, .bluelight-button {
  background-color: $blue-1;
  color: #fff !important;
  padding: 7px 1.25rem;
  border-radius: 5px;
  border: none;
  &:hover {
    opacity: 0.8;
  }
}

.bluelight-button{
  background-color: $blue-2;
}

.button-no-styled {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}


// 
.no-display-tablet{
  @media (max-width: $break-tablet){
    display: none;
  }
}