@import "../global/variables";
body {
  margin: 0;
  font-family: $font-2, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100vh;
  height: 100%;
}

.container-2 {
  flex: 1;
  display: flex;
  justify-content: stretch;
}

.right-side {
  display: flex;
  min-height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

@media (max-width: 700px) {
  .hidde-right-side {
    display: none;
  }
}

.common-input {
  color: $gray-9;
  border-radius: 5px;
  border: solid thin $gray-4;
  background-color: #fff;
  padding: 5px 13px;
  font-size: 13px;
  min-height: 33px;

  &::placeholder {
    color: transparent;
  }

  @media (max-width: $break-tablet) {
    // color: $gray-6;
    font-size: 13px;
  }
}

.input-with-placeholder {
  @media (max-width: $break-tablet) {
    &::placeholder {
      color: $gray-6!important;
    }
  }
}

.blue-button,
.bluelight-button {
  background-color: $blue-1;
  color: #fff !important;
  padding: 7px 1.25rem;
  border-radius: 5px;
  border: none;
  font-family: $font-2;

  &:hover {
    opacity: 0.8;
  }
}

.bluelight-button {
  background-color: $blue-2;
}

.button-no-styled {
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

// Checkbox style
.checkbox {
  width: 20px;
  height: 20px;
}

//
.no-display-tablet {
  @media (max-width: $break-tablet) {
    display: none;
  }
}

// Animations
.h-animation-close {
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 0;
}
.h-animation-open {
  transition: max-height 1.5s;
  max-height: 1000px;
  overflow: hidden;
}

.opacity-transition-0 {
  transition: opacity 1.5s;
  opacity: 0;
}
.opacity-transition-100 {
  transition: opacity 1.5s;
  opacity: 1;
}


.no-display-tablet{
  @media (max-width: $break-tablet){
    display: none;
  }
}

.overflow-hidden{
  overflow: hidden;
}