@import "../global/variables";

.header {
  background-color: #000;
  height: 70px;
  padding: 1rem 1.5rem;

  @media (max-width: $break-tablet) {
    position: sticky;
    top: 0;
  }
  z-index: 100;
}

.menu-btn {
  width: 30px;
  height: 40px;
  display: none;

  @media (max-width: $break-tablet) {
    display: block;
  }
}

.menu-btn:before,
.menu-btn:after,
.menu-btn div {
  background: $gray-2;
  content: "";
  display: none;
  height: 4px;
  border-radius: 3px;
  margin: 7px 0;
  transition: 0.5s;
}
.menu-btn-clicked:before {
  transform: translateY(10px) rotate(135deg);
}
.menu-btn-clicked:after {
  transform: translateY(-12px) rotate(-135deg);
}
.menu-btn-clicked div {
  transform: scale(0);
}

.brand {
  color: $gray-3 !important;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
  margin-left: 0;

  @media (max-width: $break-tablet) {
    margin-left: auto;
  }
}

.avatar {
  width: 40px;
}

.avatar-button {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  position: relative;

  &:focus {
    outline: none;
  }
  &:hover {
    cursor: pointer;
  }
}

.account-settings-deployable {
  box-sizing: border-box;
  background-color: #fff;
  padding: 0 15px;
  border: solid thin $gray-0;
  border-top: none;
  border-radius: 0 0 0 15px;
  position: absolute;
  width: 210px;
  top: 55px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  z-index: 110;

  & div:nth-child(1) {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  & div:nth-child(2) {
    display: flex;
    flex-direction: column;
  }
  & a {
    width: 100%;
  }
}
.arrow-avatar {
  position: absolute;
  clip-path: polygon(48% 27%, 0% 100%, 100% 100%);
  background-color: #fff;
  width: 15px;
  height: 15px;
  bottom: -15px;
  right: 10px;
}

.right-elements {
  margin-left: auto;
}

.user-name,
.user-admin {
  border-radius: 30px;
  padding: 0 18px;
}
.user-name {
  background-color: #fff;
}
.user-admin {
  background-color: $blue-1;
  color: #fff;
}

@media (max-width: $break-tablet) {
  .user-name,
  .user-admin {
    display: none;
  }
  .menu-btn:before,
  .menu-btn:after,
  .menu-btn div {
    display: block;
  }
}
