.tables-wrapper {
  width: 100%;
  margin: auto;
  overflow: auto;

  @media (max-width: $break-desktop) {
    width: 700px;
  }
  @media (max-width: $break-laptop) {
    width: 500px;
  }
  @media (max-width: $break-tablet) {
    width: 100%;
  }
}

.common-table {
  text-align: center;
  font-family: "CircularStd-Book";
  width: 100%;
  height: 50px;

  & td:nth-child(1),
  & th:nth-child(1) {
    text-align: left;
    padding: 0.5rem 25px;
  }
  //   Rows
  & td {
    padding: 1rem 5px;
    white-space: nowrap;
  }
}

.collapse-table {
  border-top: solid thin $gray-4;
  border-bottom: solid thin $gray-4;
  padding: 0.5rem 25px;
  font-weight: 400;
  white-space: nowrap;
  position: relative;
  cursor: pointer;
  min-height: 42px;

  & button {
    position: absolute;
    left: 0;
  }
}
.collapse-table-not-has-preheader {
  position: absolute;
  width: 100%;
}

.open-table-content {
  transition: height 0.5s;
}
.close-table-content {
  height: 0;
}

.state-true,
.state-false {
  font-family: "Helvetica";
  color: #fff;
  font-weight: 700;
  font-size: 11px;
  padding: 5px 15px;
  border-radius: 5px;
  width: 100px;
  margin: auto;
}
.state-true {
  background-color: $green-1;
}
.state-false {
  background-color: $gray-10;
}

// Transition
.table-animation-close {
  transition: max-height 0.5s;
  overflow: hidden;
  max-height: 42px;
}
.table-animation-open {
  transition: max-height 1.5s;
  max-height: 1000px;
  overflow: auto;
}
