// Breakpoints
$break-mobile: 480px;
$break-tablet: 768px;
$break-laptop: 1024px;
$break-desktop: 1200px;

// Colors
$gray-0: #dbdbdb;
$gray-1: #747171;
$gray-2: #707070;
$gray-3: #5a5555;
$gray-4: #d6d6d6;
$gray-5: #f6f6f6;
$gray-6: #bcbcbc;
$gray-7: #9d9d9d;
$gray-8: #4c4c4c;
$gray-9: #5b5b5b;
$gray-10: #B9B9B9;
$gray-11: #D3D3D3;

$blue-1: #1ba1fc;
$blue-2: #87CBF8;

$green-1: #2FAC72;

// Fonts
$font-1: "CircularStd-Bold";
$font-2: "CircularStd-Book";
$font-3: "Helvetica";
$font-4: "CircularStd";