@font-face {
  font-family: CircularStd-Black;
  src: url("./assets/fonts/CircularStd-Black.otf");
}
@font-face {
  font-family: CircularStd-BlackItalic;
  src: url("./assets/fonts/CircularStd-BlackItalic.otf");
}
@font-face {
  font-family: CircularStd-Bold;
  src: url("./assets/fonts/CircularStd-Bold.otf");
}
@font-face {
  font-family: CircularStd-BoldItalic;
  src: url("./assets/fonts/CircularStd-BoldItalic.otf");
}
@font-face {
  font-family: CircularStd-Book_1;
  src: url("./assets/fonts/CircularStd-Book_1.otf");
}
@font-face {
  font-family: CircularStd-BookItalic;
  src: url("./assets/fonts/CircularStd-BookItalic.otf");
}
@font-face {
  font-family: CircularStd-Medium;
  src: url("./assets/fonts/CircularStd-Medium.otf");
}
@font-face {
  font-family: CircularStd-MediumItalic;
  src: url("./assets/fonts/CircularStd-MediumItalic.otf");
}
@font-face {
  font-family: CircularStd-Book;
  src: url("./assets/fonts/CircularStd-Book.otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  min-height: 100vh;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
}

.container-2 {
  flex: 1;
  display: flex;
  justify-content: stretch;
}

.right-side {
  display: flex;
  min-height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
}
h2 {
  color: #707070;
  font-size: 1rem;
  font-family: "CircularStd-Bold";
}
p {
  color: #707070;
  font-family: "CircularStd-Book";
  font-size: 0.8rem;
}
ul {
  list-style-type: none;
  color: #707070;
  padding: 0;
  font-family: "CircularStd-Book";
  font-size: 0.8rem;
}
li,
a {
  font-size: 0.8rem;
}

a:any-link {
  color: #1ba1fc;
  text-decoration: none;
  font-family: "Helvetica";
}

@media (max-width: 700px) {
  .hidde-right-side {
    display: none;
  }
}

// colors
.text-gray {
  color: #747171 !important;
}
