.grid-checkboxes {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 1rem;

  @media (max-width: 1400px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $break-laptop) {
    grid-template-columns: 1fr;
  }
  @media (max-width: $break-tablet) {
    grid-template-columns: max-content max-content;
  }
}

.mb-input-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  > div:last-child {
    grid-column: 1/3;
  }

  @media (max-width: $break-desktop) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $break-tablet) {
    grid-template-columns: 100%;
    > div:last-child {
      grid-column: 1/2;
    }
  }
}

.image-picker-button{
  background-color: #fff;
  border: dotted thin $gray-4;
  min-height: 33px;
  border-radius: 5px;
  color: $gray-4;
}
